{
  "run_list": [
    //"recipe[dev-box::ubuntu]",
    //"recipe[dev-box::git]",
    //"recipe[dev-box::zshell]",
    //"recipe[dev-box::ruby]",
    //"recipe[dev-box::thinkpad]",
    //"recipe[dev-box::sublime]",
    //"recipe[dev-box::gnome-terminal]",
    //"recipe[dev-box::redis]",
    //"recipe[dev-box::dropbox]",
    //"recipe[dev-box::elasticsearch]",
    //"recipe[dev-box::skype]",
    //"recipe[dev-box::multimedia]",
    //"recipe[dev-box::postgresql]",
    //"recipe[dev-box::node]",
    //"recipe[dev-box::time_tracking]"
    "recipe[dev-box::browser]"
    //"recipe[dev-box::android]"
  ],
  "sublime-text": {
  	"version": 3,
  	"release": "vivid"
  },
  "rvm": {
    "user_installs": [
      { "user": "jk" }
    ],
    "upgrade": "stable"
  },
  "redisio": {
    "package_install": true,
    "package_name": "redis-server"
  },
  "java": {
    "install_flavor": "openjdk",
    "jdk_version": "7"
  },
  "postgresql": {
    "enable_pgdg_apt": false,
    "password": {
      "postgres": "iloverandompasswordsbutthiswilldo"
    }
  },
  "dev-box": {
    "user": "jk",
    "distribution": "vivid",
    "arch": "amd64",
    "nvm": {
      "version": "v0.25.3"
    },
    "railslove_chef": {
      "user": "jakob"
    }
  }
}
