[user]
  name = Jakob Hilden
  email = jakobhilden@gmail.com
[core]
  editor = subl
  excludesfile = /home/jk/.gitignore_global
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[diff]
  color = true
[push]
  default = current
[branch]
  autosetupmerge = true